body {
    font-family: 'Roboto', sans-serif;
    color:#434455;
    background-color: var(--WHITE, #FFF);
}
.navigation .logo .black {
    color: var(--NAVY-BLUE, #2E2F42);
    font-family: 'Raleway', sans-serif;
}
.bottom .logo .black {
    color: #f4f4fd;
    font-family: 'Raleway', sans-serif;
}
.logo {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--IRIS, #4D5AE5);
}
.button-nav {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.button-nav:hover {
    color: var(--OCEAN, #404BBF);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.button-nav:active {
    color: var(--OCEAN, #404BBF);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.button-nav:focus {
    color: var(--OCEAN, #404BBF);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.contacts {
    color: var(--SLATE, #434455);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.contacts:hover {
    color: var(--OCEAN, #404BBF);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-style: normal;
}
.contacts:focus {
    color: var(--OCEAN, #404BBF);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-style: normal;
}
ul, ol {
    list-style-type: none;
}
a {
    text-decoration: none;
}
.title {
    color: var(--WHITE, #FFF);
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 1.12px;
    text-align: center;
}
.button {
    background: var(--IRIS, #4D5AE5);
    color: var(--WHITE, #FFF);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.64px;
    cursor: pointer;
}
.button:hover {
    background: var(--OCEAN, #404BBF);
    color: var(--WHITE, #FFF);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.64px;
    cursor: pointer;
}
.button:focus {
    background: var(--OCEAN, #404BBF);
    color: var(--WHITE, #FFF);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.64px;
    cursor: pointer;
}

.hiding {
    color:#FFF;
    text-align: center;
}
.benefits .small-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
    color: #2e2f42;
}
.team .small-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
    color: #2e2f42;
    text-align: center
}
.portfolio .small-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
    color: #2e2f42;
}
.benefits .paragraf {
    color: var(--SLATE, #434455);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
}
.team .paragraf {
    color: var(--SLATE, #434455);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
}
.portfolio .paragraf {
    color: var(--SLATE, #434455);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
}
.title-middle {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    text-align: center;
    color: #2e2f42;
}
.bottom .paragraf {
    color: var(--CLOUD, #F4F4FD);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
}
.bottom {
    background: var(--NAVY-BLUE, #2E2F42);
}
.block {
    background-color: #2e2f42;
}
.block-second {
    background-color: #F4F4FD;
}
.item {
    background-color: #FFFFFF;
}